.main {
  margin-top: 70px;
  height: 90vh;
  min-width: 100%;
  border: 1px solid green;
  display: grid;
  grid-template-rows: 4fr 1fr 1fr;
  grid-template-areas: 'a' 'b' 'c';
  gap: 20px;
}
.main_down {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  grid-area: c;
  z-index: 2;
}
.main_bollet {
  grid-area: a;
  align-self: end;
  z-index: 3;
}
.main_desc {
  max-width: max-content;
  font-family: var(--font-inter);
  color: #b5c1c9;
  font-size: 24px;
  line-height: 1.55;
}
.main_title {
  max-width: max-content;
  font-family: var(--font-wadik);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  margin: 20px 0 40px 0;
}
/* SIDEBAR */
.main_slidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30vh;
  right: 2vw;
}
.slidebar_start,
.slidebar_end {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
.main_case {
  border: 2px solid #343d44;
  border-radius: 36px;
  width: 21px;
  height: 186px;
  backdrop-filter: blur(20px);
  background: #181c20;
  position: relative;
}
.main_loading {
  position: absolute;
  border-radius: 12px;
  width: 21px;
  height: 62px;
  background-color: #1826e1;
  transition: 0.4s;
}
/* SIDEBAR */
/* SIDEBAR ADAPTED */
@media screen and (max-width: 800px) {
  .main_slidebar {
    display: none;
  }
}
/* SIDEBAR ADAPTED */
/* MAIN ADAPTED */
@media screen and (max-width: 1200px) {
  .main_title {
    font-size: 64px;
  }
}
@media screen and (max-width: 1000px) {
  .main {
    gap: 40px;
  }
  .main_title {
    margin: 0;
  }
}
@media screen and (max-width: 880px) {
  .main_desc {
    font-size: 20px;
  }
  .main_title {
    font-size: 54px;
  }
}
@media screen and (max-width: 800px) {
  .main {
    height: 80vh;
  }
}
@media screen and (max-width: 750px) {
  .main_desc {
    font-size: 18px;
  }
  .main_title {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .main {
    height: 78vh;
  }
  .main_down {
    grid-area: b;
  }
  .main_bollet {
    grid-area: a;
    align-self: flex-start;
  }
}
@media screen and (max-width: 450px) {
  .main_title {
    font-size: 34px;
  }
}
@media screen and (max-width: 400px) {
  .main_desc {
    font-size: 16px;
  }
  .main_title {
    font-size: 32px;
  }
}
@media screen and (max-width: 360px) {
  .main_desc {
    font-size: 14px;
  }
  .main_title {
    font-size: 24px;
  }
}
