.main {
  display: flex;
  flex-direction: column;
  height: 85vh;
  margin-top: 80px;
  max-width: 100%;
  margin-bottom: 200px;
}

@media screen and (max-width: 600px) {
  .main {
    height: 80vh;
    margin-top: 8.5vh;
    margin-bottom: 100px;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .boolet_button {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.main_bollet {
  z-index: 2;
  flex-direction: column;
  margin-bottom: 60px;
}

@media screen and (max-width: 600px) {
  .main_bollet {
    margin-bottom: 0px;
  }
}

.main_desc {
  font-family: var(--font-inter);
  color: #b5c1c9;
  font-size: 24px;
  line-height: 1.55;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .main_desc {
    margin-top: 40px;
    line-height: 1.4;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.main_title {
  font-family: var(--font-wadik);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .main_title {
    font-size: 34px;
  }
}

.main_down {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.main_body {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 600px) {
  .main_body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
  }
}

/* Swiper */
.view {
  z-index: -1;
  top: 0px;
  right: 330px;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .view {
    z-index: 1;
    top: -120px;
    right: -290px;
    position: absolute;
    transform: scale(0.35);
  }
}

.mySwiper {
  max-width: 1200px;
  max-height: 844px;
  left: 300px;
  top: 80px;
}

/* Sidebar */
.main_slidebar {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .main_slidebar {
    display: none;
  }
}

.slidebar_start,
.slidebar_end {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.main_case {
  border: 2px solid #343d44;
  border-radius: 36px;
  width: 21px;
  height: 186px;
  backdrop-filter: blur(20px);
  background: #181c20;
  position: relative;
}

.main_loading {
  position: absolute;
  border-radius: 12px;
  width: 21px;
  height: 62px;
  background-color: #1826e1;
  transition: 0.4s;
}
