/* SWIPER */
.swiper_view {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 80vw;
  height: 90vh;
  /* border: 1px solid orange; */
  right: 2vw;
}
.swiper {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .swiper_view {
    width: 90vw;
    height: 90vh;
  }
}

@media screen and (max-width: 1000px) {
  .swiper_view {
    top: 70px;
    height: 80vh;
  }
}
@media screen and (max-width: 880px) {
  .swiper_view {
    width: 96vw;
  }
}
@media screen and (max-width: 650px) {
  .swiper_view {
    top: 100px;
    height: 75vh;
  }
}
@media screen and (max-width: 600px) {
  .swiper_view {
    top: 150px;
    height: 50vh; /*норм*/
  }
}
@media screen and (max-width: 500px) {
  .swiper_view {
    top: 160px;
    height: 40vh; /*норм*/
  }
}
/* SWIPER */
