@keyframes drawPath {
  from {
    stroke-dasharray: 0, 300;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dasharray: 300, 300;
    stroke-dashoffset: 0;
  }
}

.position {
  /* border: 1px solid orange; */
  z-index: -1;
  position: absolute;
  right: -22px;
  top: -6.4px;
}

.animate path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: drawPath 2s ease-in-out forwards;
  animation-delay: 0.6s;
}
