.social__media_footer {
  display: flex;
}

.big_gap {
  column-gap: 20px;
}

.small_gap {
  column-gap: 4px;
}

.icon:hover {
  fill: var(--second-primary-color);
}

.big {
  width: 82px;
  height: 82px;
}

.small {
  width: 24px;
  height: 24px;
}
