.header {
  background-color: var(--bg-color);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: space-between;
  border-bottom: 2px #343d44 solid;
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  .header {
    transition: none;
  }
}

.header:hover {
  border-bottom: 2px rgba(181, 193, 201, 0.8) solid;
}

@media screen and (max-width: 600px) {
  .header:hover {
    border-bottom: 2px #343d44 solid;
  }
}

.header_icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
  padding: 10px 0;
}

.link {
  color: var(--description-text);
  font-family: var(--font-inter);
  font-size: 20px;
  transition: ease-in;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .link {
    display: none;
  }
}

.link:hover {
  color: #fff;
}

.navigation {
  display: flex;
  list-style-type: none;
  gap: 70px;
  padding-left: 0;
}

@media screen and (max-width: 600px) {
  .navigation {
    display: none;
  }
}
