.stages_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 183px;
  position: relative;
  z-index: -3;
}
.stages_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 183px;
  height: 183px;
}

.circle_svg {
  /* border: 1px solid orange; */
  width: 183px;
  height: 183px;
  z-index: -2;
  position: absolute;
}

.circle_text {
  /* border: 1px solid white; */
  font-family: var(--font-wadik);
  font-weight: 700;
  font-size: 48px;
  line-height: 155%;
  letter-spacing: 0.05em;
  color: #686efc;
}

.circle_desc {
  /* border: 1px solid blue; */
  max-width: 140px;
  display: flex;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}

.opacity {
  opacity: 0;
  transition: 0.4s;
}

@media screen and (max-width: 1200px) {
  .stages_circle {
    transform: scale(0.8);
  }
  .stages_circle {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .stages_circle {
    transform: scale(0.7);
  }
  .stages_circle {
    margin-bottom: 10px;
  }
  .circle_desc {
    margin: 5px;
  }
}
