.title {
  font-family: var(--font-wadik);
  font-size: 24px;
  background-color: #1826e1;
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
  max-width: max-content;
}

.big {
  border-radius: 12px;
  padding: 30px 40px;
  position: relative;
  z-index: 4;
}

@media screen and (max-width: 600px) {
  .title {
    text-align: center;
    max-width: 100%;
  }

  .big {
    border-radius: 12px;
    padding: 30px 40px;
  }
}

.small {
  border-radius: 6px;
  padding: 20px 60px;
}

.title:active {
  background-color: #fff;
  color: #1826e1;
  box-shadow: none;
}

@media (hover: hover) {
  .title:hover {
    background-color: #686efc;
    color: #fff;
    box-shadow: rgba(104, 110, 252, 0.4) 0px 30px 90px;
  }
}
