.comment_swiper {
  max-width: 1280px;
}

.image {
  height: 50px;
  width: 50px;
}

.feedback_cta {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1340px) {
  .comment_swiper {
    max-width: 880px;
  }
}
@media (max-width: 930px) {
  .comment_swiper {
    max-width: 840px;
  }
}
@media (max-width: 890px) {
  .comment_swiper {
    max-width: 400px;
  }
}
@media (max-width: 480px) {
  .comment_swiper {
    max-width: 380px;
  }
}
@media (max-width: 400px) {
  .comment_swiper {
    max-width: 320px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .feedback_cta {
    justify-content: center;
  }
}
@media (max-width: 380px) {
  .image {
    height: 45px;
    width: 45px;
  }
}
