.feedback_cards {
  max-width: 1410px;
  margin-inline: auto;
}

.image {
  height: 90px;
  width: 90px;
}

.feedback_cta {
  display: flex;
  justify-content: space-between;
}

.comment_swiper {
  /* border: 1px solid red; */
}

@media (max-width: 1481px) {
  .feedback_cards {
    max-width: 925px;
  }
}
@media (max-width: 965px) {
  .image {
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 950px) {
  .feedback_cards {
    max-width: 480px;
    margin-inline: auto;
  }
}
@media (max-width: 800px) {
  .feedback_cta {
    justify-content: center;
  }
}
@media (max-width: 380px) {
  .image {
    height: 45px;
    width: 45px;
  }
}
