@font-face {
  font-family: 'Wadik';
  src: url('./public/fonts/Wadik.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('./public/fonts/Arial.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./public/fonts/Inter.woff2') format('woff2');
}

:root {
  --white: #fff;
  --bg-color: #181c20;
  --second-primary-color: #373efc;
  --description-text: #b5c1c9;
  --font-wadik: 'Wadik', sans-serif;
  --font-arial: 'Arial', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  color: var(--white);
  background: var(--bg-color);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}

.main,
.cards,
.stages,
.devices,
.feedback,
.contacts {
  margin-bottom: 200px;
}
