@import 'tailwindcss';

@layer components {
  .wadik {
    font-family: var(--font-wadik);
  }
  .inter {
    font-family: var(--font-inter);
  }
  .font-secondary {
    color: var(--secondary);
  }
  .card {
    background: linear-gradient(180deg, #343d44 0%, #293035 100%);
    border: 3px solid #3f4950;
  }
}

@theme {
  --font-wadik: 'Wadik', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --color-secondary: var(--second-primary-color);
  --color-active: var(--secondary);
  --color-desc: var(--description-text);
  --color-bg: var(--bg-color);
  --color-h-border: #343d44;
  --color-footer: #151718;
  --color-footer-hover: #58656e;
}

@font-face {
  font-family: 'Wadik';
  src: url('../../public/fonts/Wadik.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('../../public/fonts/Arial.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter.woff2') format('woff2');
}

:root {
  --white: #ffffff;
  --bg-color: #181b20;
  --second-primary-color: #373efc;
  --secondary: #6372fa;
  --description-text: #b5c1c9;
  --font-wadik: 'Wadik', sans-serif;
  --font-arial: 'Arial', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  color: var(--white);
  background: var(--bg-color);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}

.section {
  margin-bottom: 200px;
  scroll-margin-top: 120px;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 1200px) {
  .section {
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 1000px) {
  .section {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 800px) {
  .section {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 600px) {
  .section {
    margin-bottom: 80px;
  }
}
