.container {
  max-width: 96vw;
  margin: 0 2vw;
  max-width: 100vw;
}
@media screen and (max-width: 600px) {
  .body {
    overflow-x: hidden;
    position: fixed;
  }
}
@viewport {
  user-zoom: fixed;
}
