.arrow_btn_left {
  fill: #b5c1c9;
  padding: 0;
  background-color: transparent;
  background-position: center;
  border: 2px solid #343d44;
  border-radius: 12px;
  width: 82px;
  height: 60px;
  transition: 0.4s;
  margin-right: 20px;
}

.arrow_btn_left:hover {
  background-color: #343d44;
}

.arrow_btn_left:active {
  fill: #1826e1;
  transition: 0.1s;
}
