.navigation_items {
  display: flex;
  column-gap: 50px;
}

@media screen and (max-width: 660px) {
  .navigation_items {
    column-gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  .navigation_items {
    flex-wrap: wrap;
  }
}
